
body{
    margin: 0;
    padding: 0;
}
.main{
    width: 500px;
    margin: 25px  auto ;
    text-align: center; 
}
form{
    border-color: white;
}
.text{
    margin: 20px 0 10px 0;
    color: rgb(0,0,0,0.5);
}
.border{
    border-radius: 0px; 
    font-size: 15px;
}

.first{
    width: 46%;
    display: inline-block; 
    float: left;
}
.second{
    width: 46%;
    float: right;
    display: inline-block; 
}
.third{

    margin-top: 10px;
}
.btn-info{
    border-radius: 0px;
}

.footer{
    background-color: black;
    color: white; 
    display: flex;
    justify-content: space-between;
    padding: 52px;          
}
a{
    color:white;
}